/* colors 
    dark green: rgb(4, 48, 48)
    light teal: rgb(37, 191, 191)

*/
* {
  font-family: 'Didact Gothic', sans-serif;
}
/* body{
    background-color: rgba(240, 235, 235, 0.747) !important;
} */
#tel-fas{
    font-size: 15px;
    color: rgb(196, 126, 47);

}
.tel{
    font-size: 20px;
    text-decoration: none;
    color: rgb(196, 126, 47);

}

.navbar{
    width: 100%;
    text-align: center !important;
    background: transparent !important;
    border: transparent !important;
    z-index: 15; 
}
/* .navbar-brand{
    background-image: url('images/qpLogo.png');
    background-size: 100%;
    z-index: 20;
    display: block;
    width: 44px;
    height: 144px;
    padding: 0;
    /* top: 23px;
    left: 55px; 
} */
.navbar.scrolled {
    background-color: rgba(59, 57, 57, 0.61) !important;
    transition: background-color 600ms linear, box-shadow 6s linear;
    opacity: 5;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

#nav li a{
    color: white;
    line-height: 2.85;
    padding: 13px 19px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.1em;  
    text-decoration: none; 
    text-align: center !important;
    /* transition-timing-function: ease; */
     
    
    
}
.navbar-collapse{
    padding-right: 0%;
}
.active a{
    background: rgb(37, 114, 116) !important;
    border: transparent !important;
    margin-left: 0px;
}
.active a:hover{
    color: #000;
    background: rgb(37, 114, 116) !important;
    
}
#nav li a:hover{
    background-color: rgb(37, 114, 116);
    /* transition: .5; */
    /* transition-timing-function: ease-in; */
    /* width: 130px; */
    /* transform: scaleX(1.1); */
    transition: 0.7s;
    /* margin-right: 4px; */
    /* margin-left: 5px; */

    
}
.overlay{
    background: linear-gradient(rgba(49, 49, 49, 0.6), rgba(51, 51, 51, 0.6));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    color: white;
    font-size: 10px;
    text-align: center;
  }
  .overlay h1{
      margin-top: 18%;
      font-weight: 700;
      font-family: 'Didact Gothic', sans-serif;
      text-shadow: 2px 2px 4px #000000;

  }
  .overlay h2{
    text-shadow: 2px 2px 4px #000000;
  }
  .carousel-indicators li { visibility: hidden; }
  .carousel {
      height: 650px;
      box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .carousel .item {
    height: 650px;
  }
/* 
  #service-box{
    height: 250px;
    width: 300px;
    background-color: rgb(37, 114, 116);
    margin: auto;
  } */
.aboutTitle{
    color: rgb(196, 126, 47);
    font-size: 45px;
}
.norm-bio{
    background-repeat: no-repeat;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;

}
.norm-bio h4{
    color: rgb(196, 126, 47);
}
.norm-bio h5{
    color: rgb(196, 126, 47);
}
.norm-bio a{
    color: rgb(196, 126, 47);
}
.norm-bio p{
    color: white;
    font-size: 19px;
}
.overlayAbout .container{
    background: rgba(39, 62, 84, .55);
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 2;
    margin-left: 0%;
    margin-right: 0%;
}
.servicesTitle h1{
    color: rgb(37, 114, 116);
    text-align: center;
    font-size: 50px;
    padding-top: 2%;
    margin-bottom: 5%;
    text-shadow: 2px 2px 4px #9c9999bd;
}  
  .column {
    position: relative;
    width: 70%;
}
.card{
    transition-property: all;
    border: 2px solid grey;
    width: 400px;
    height: 450px;
    text-align: center;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all;
    background-color: white;
    border-radius: 5%;
    

}
.card i{
    font-size: 60px;
    padding-top: 20%;
    padding-bottom: 5%;
    color: rgb(196, 126, 47);
    text-shadow: 2px 2px 4px #696666bd;
    transition: .5s;
    transform: rotate(0deg);
    

    
}
.card p{
    padding: 13%;
    padding-top: 15%;

}
.card:hover{
    border: solid 4px rgb(197, 145, 86);
    color: rgb(196, 126, 47);
    transition: all .45s;
    transform: scale(1.08);
    background-color: rgb(55, 130, 133) !important;
    text-shadow: 2px 2px 4px #464545bd;
    /* transform: rotateY(360deg); */
}
.card i:hover{
    transform: rotateY(360deg);
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 264px;
  transition: .5s ease;
  backface-visibility: hidden;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.column:hover .image {
  opacity: 0.3;
  transform: scale(1.2);
  /* background-color: rgb(196, 126, 47); */
}

.column:hover .middle {
  opacity: 1;
  color:  rgb(37, 114, 116);
}

.text {
  /* background-color:  rgb(37, 114, 116); */
  color:  rgb(37, 114, 116);
  text-shadow: 2px 2px 4px #757474bd;

  /* font-size: 16px;
  padding: 16px 32px; */
}

.clientsTitle{
    color: rgb(37, 114, 116);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    text-shadow: 2px 2px 4px #9c9999bd;
}

#scroll1 img{
    position: relative;
    width: 150px;
    height: 150px;
    
}

div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    width: 920px;
    height: 150px;;
    margin: auto;
    
}

div.scrollmenu img {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu img:hover {
    background-color: #777;
}

.storageTitle{
    color: rgb(37, 114, 116);
    text-align: center;
    padding-top: 10%;
}

.hospitalityTitle{
    color: rgb(37, 114, 116);
    text-align: center;
    padding-top: 7%;
    padding-bottom: 5%;
    text-shadow: 2px 2px 4px #9c9999bd;
}
.hospitalityTitle h1{
    font-size: 50px;
}

::-webkit-scrollbar {
    display: none;
    }
 .multiTitle{
     text-align: center;
     padding: 7%;
 }
 .multiTitle h1{
     color: rgb(37, 114, 116);
     font-size: 50px;
     text-shadow: 2px 2px 4px #9c9999bd;

 }
 .container-footer{
     background-color: rgb(4, 48, 48);
     margin-top: 5%;
 }
 .container-footer a{
     color: white;
     text-decoration: none;
 }
 #menu-footer-menu li{
    display: inline;
    position: relative;
    bottom: -5px;
    
}
#menu-footer-menu li a{
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    padding: 10px;
    
}
#copyright{
    color: white;
    padding-left: 10px;
    padding-top: 15px;
}
#contact-footer{
    color: white;
    margin-bottom: 45px;
}

/* Media Queries */
@media screen and (max-width:321px){
    #tel-fas{
        position: relative;
        color: rgb(196, 126, 47);
        right: 20%;
        bottom: 40px;
    }
    #logoQ{
        position: relative !important;
        width: 150px !important;
        left: 25% !important;
    }
    .navbar{
        width: 100%;
        float: right;
        right: 0 !important;
        transform: skew(0deg);
        margin-bottom: 20% !important;
        bottom: 25px;
        padding: 0;
    }
    .overlay{
        background: linear-gradient(rgba(49, 49, 49, 0.6), rgba(51, 51, 51, 0.6));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none;
        color: white;
        font-size: 10px;
        text-align: center;
      }
    .overlay h1{
        margin-top: 20%;
        font-weight: 700;
        font-size: 15px !important;
        font-family: 'Didact Gothic', sans-serif;
  
    }
    .overlay h2{
        font-size: 10px !important;
    }
    .carousel .item {
      height: 190px;
    }
    .info{
        text-align: center !important;
    }
    .scrollmenu{
        width: 280px !important;
    }
    .column{
        padding-bottom: 30px;
    }
    .text {
        background-color:  rgb(37, 114, 116);
        color: white;
        font-size: 10px;
        padding: 10px 10px;
        margin-bottom: 20px;
        
      }
}

@media screen and (min-width:321px) and (max-width:376px){
    #tel-fas{
        position: relative;
        font-size: 20px;
        color: rgb(196, 126, 47);
        right: 24%;
        bottom: 40px;
    
    }
    .tel{
        position: relative;
        font-size: 20px;
        text-decoration: none;
        color: rgb(196, 126, 47);
        /* right: 60% !important; */
    
    }
    #logoQ{
        position: relative !important;
        width: 125px !important;
        left: 40% !important;
    }
    .navbar{
        width: 100%;
        float: right;
        right: 0 !important;
        transform: skew(0deg);
        margin-bottom: 20% !important;
        bottom: 25px;
    }
    #nav li a{
        color: white;
        line-height: 2.85;
        padding: 13px 19px;
        font-family: 'Didact Gothic', sans-serif;
        font-size: 1.1em;  
        text-decoration: none; 
        /* transition-timing-function: ease; */
         
        
        
    }
    .overlay{
        background: linear-gradient(rgba(49, 49, 49, 0.6), rgba(51, 51, 51, 0.6));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none;
        color: white;
        font-size: 10px;
        text-align: center;
      }
      .overlay h1{
          margin-top: 20%;
          font-weight: 700;
          font-size: 20px !important;
          font-family: 'Didact Gothic', sans-serif;
    
      }
      .overlay h2{
          font-size: 15px !important;
      }
      .carousel .item {
        height: 230px;
      }
      .info{
          text-align: center !important;
      }
    .scrollmenu{
        width: 300px !important;
    }
    .column{
        padding-bottom: 30px;
    }
    .text {
        background-color:  rgb(37, 114, 116);
        color: white;
        font-size: 13px;
        padding: 10px 10px;
        margin-bottom: 20px;
        
      }
      .clientsTitle{
        text-align: center;
        padding-top: 5%;
        margin-bottom: 10%;
    }
      .storageTitle{
        text-align: center;
        padding: 10%;
        margin-top: 10%;
       
    }
    
    .hospitalityTitle{
        text-align: center;
        padding: 10%;
        margin-top: 10%;
    }
    #menu-footer-menu li a{
        position: relative;
        color: white;
        text-decoration: none;
        font-size: 1.3em;
        padding: 2px;
        top: 10px;
        text-align: center !important;
        
    }
    #copyright{
        position: relative;
        font-size: 9px;
        top: 160px !important;
    }
}
